language: java

jdk:
  - oraclejdk8
  - oraclejdk7
  - openjdk7

install: /bin/true  # Don't run "gradle assemble" (which is the default)

script: mvn test javadoc:javadoc

after_success:
  - mvn clean cobertura:cobertura -Dcobertura.report.format=xml coveralls:cobertura